$color-primary: rgba(108, 99, 255, 1);
$color-primary-deep: rgba(83, 74, 230, 1);
$color-primary-quite: rgba(108, 99, 255, 0.1);

$color-secondary: rgba(0, 85, 183, 1);

$color-black: rgba(0, 0, 0, 1);
$color-dark: rgba(0, 0, 0, 0.8);
$color-dark-quite: rgba(0, 0, 0, 0.6);

$color-white: rgba(255, 255, 255, 1);
$color-white-quite: rgba(255, 255, 255, 0.7);