// TEXT
.text-center {
    text-align: center !important;
}

.text-quiet {
    color: $color-white-quite !important;
}

// MARGIN
.mb-small {
    margin-bottom: 1.5rem !important;
}

.mb-medium {
    margin-bottom: 2.5rem !important;
}